*{
    padding:0;
    margin:0;
}
.BG{
    overflow:hidden;
    width:100%;
    height:100%;
}
.Logo {
    background-image: url("Logo.png");
    position: absolute;
    left: 110px;
    top: 35px;
    width: 137px;
    height: 59px;
    z-index: 10;
  }
  .container{
      display:flex;
      /* background-image:url(BG.png); */
  }
  .nav-items{
      display:flex;
      flex-direction:row;
  }
  .Links {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(37, 37, 37);
    font-weight: bold;
    
    line-height: 2.95;
    position: absolute;
    left: 700.87px;
    top: 30.698px;
    z-index: 9;
    display:flex;
    flex-direction:row;
    gap:20px;
  }
  .Navigation-bar{
      display:flex;
      flex-direction:row;
      justify-content:center;
  }
  .element1{
      font-family:"Montserrat";
      font-weight:300;
      /* text-transform:lowercase; */
  }
  .Text {
    font-size: 20px;
    font-family: "Poppins";
    color: rgb(37, 37, 37);
    line-height: 1.9;
    position: absolute;
    left: 790.002px;
    top: 265.546px;
    width: 634px;
    /* height: 214px; */
    z-index: 24;
    display:flex;
    flex-direction:column;
    color:white;
  }
  .Text p{
      font-weight:200;
      word-spacing:1px;
  }
  .elements a{
      text-decoration:none;
      color:black;
  }
  .element1 a{
      text-decoration:none;
      color:black;
  }
  /* .Heading1 {
    font-size: 40px;
    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.475;
    text-align: center;
    position: absolute;
    left: 769.937px;
    top: 614.599px;
    width: 316px;
    height: 29px;
    z-index: 6;
  } */
  .Heading1{
      /* display:flex; */
      /* justify-content:center; */
      text-align:center;
      font-size: 29px;
      font-family: "Montserrat";
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      /* align-items:center; */
      padding-top:50px;
      word-spacing:15px;
      /* align:center; */
  }
  .container2{
      display:flex;
      flex-direction:column;
  }
  /* .container2 .salt-img{
      width:45vh;
      height:60vh;
  } */
  .sub-container{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-content:center;
      gap:60px;
      /* align-items:center; */
      /* justify-content:space-around; */
  }
  /* .sub-container p{
      width:auto;
  } */
  .sub-text {
    font-size: 4;
    font-family: "Poppins";
    color: rgb(37, 37, 37);
    line-height: 1.75;
    /* position: absolute; */
    /* left: 350.002px;
    top: 1248.546px; */
    width: 634px;
    height: 214px;
    z-index: 24;
  }
  .IMG {
    /* background-image: url("IMG.png"); */
    /* position: absolute; */
    /* left: 884px;
    top: 852px; */
    width: 427px;
    height: 533px;
    z-index: 27;
  }
  .Text-box{
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      line-height:50px;
      padding-top:95px;
      /* border:2px solid black; */
  }
  .page2-sub-heading1{
        font-family: 'Montserrat', sans-serif;
        font-size:22px;
  }
  .sub-container2{
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-content:center;
    gap:60px;
    /* align-items:center; */
    /* justify-content:space-around; */
}
.IMG2 {
    /* background-image: url("IMG.png"); */
    /* position: absolute; */
    left: 251px;
    top: 991px;
    width: 325px;
    height: 414px;
    z-index: 20;
    margin-top:-110px;
  }
  .Text-box2{
    display:flex;
    flex-direction:column;
    /* justify-content:flex-end; */
    padding-top:10px;
    line-height:50px;
    /* padding-top:15px; */
    /* border:2px solid black; */
}
.page2{
    display:flex;
    flex-direction:column;
}
.page3-background {
    background-image: url("BACKGROUND.png");
    position: absolute;
    overflow:hidden;
    left: 0px;
    top: 1792px;
    /* width: 1920px; */
    width:100%;
    height: 350px;
    z-index: 34;
  }
  /* .Experience{
      background-image: url("BACKGROUND.png");
  } */
  .sub-container-page3{
      display:flex;
      flex-direction:row;
      flex-basis:31%;
      width:100%;
      height:100%;
      /* justify-content:space-between; */
      justify-content:center;
      align-content:space-between;
      /* align-content:space-between; */
      /* padding-top:30px; */
      gap:140px;
  }
  .box1 .sub-img1 {
    /* background-image: url("sub-img1.png"); */
    position: absolute;
    left: 448px;
    top: 2108px;
    width: 100px;
    height: 100px;
    z-index: 41;
  }
  .sub-heading1-page3 {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(37, 37, 37);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.475;
    left: 1358.204px;
    top: 2099.743px;
    z-index: 46;
  }
  /* .Heading {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(37, 37, 37);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.475;
    position: absolute;
    left: 1358.204px;
    top: 2099.743px;
    z-index: 53;
  } */
  .box-1{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      /* justify-content:space-between; */
      /* align-content:center; */
      /* align-items:space-between; */
      /* border:2px solid black; */
      gap:20px;
  }
  /* #sub-image2 {
    /* background-image: url("IMG.png"); */
    /* position: absolute; */
    /* left: 910px; */
    /* top: 2108px; */
    /* width: 170px;
    height: 170px;
    z-index: 48;
  } */
  .box-1 p{
      font-family: "Poppins";
      font-size:12px;
  }
 
.Main {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(37, 37, 37);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.475;
    text-align: center;
    position: absolute;
    left: 444.781px;
    top: 2175.599px;
    width: 578px;
    height: 29px;
    z-index: 105;
    /* display:flex;
    flex-direction:row; */
  }
  .main-heading-pink{
      gap:-40px;
  }
  .Main-text{
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(37, 37, 37);
    line-height: 1.75;
    text-align: center;
    position: absolute;
    left: 164.781px;
    top: 2225.599px;
    width: 1183px;
    height: 46px;
    z-index: 104;
    display:flex;
    
  }
  .process-box1{
      display:flex;
      flex-direction:row;
     
    align-items:space-between;
    padding-top:80px;
  }
  .Processes{
      display:flex;
      flex-direction:column;
      /* top:3000px; */
      justify-content:center;
      /* align-content:center; */
      /* width:500px; */
      padding-top:82vh;
      /* padding-left:20px; */
      padding-left:110px;
      padding-right:110px;
      justify-items:space-between;
  }
  .image-reduction{
      width:49px;
      height:49px;
  }
.process-package1{
      display:flex;
      flex-direction:column;
      /* line-height:25px; */
      gap:13px;
      /* border:2px solid black; */
      justify-content:space-between;
      

  }
  .process-box2{
    display:flex;
    flex-direction:row;
   
  justify-content:center;
  align-items:center;
  padding-top:55px;
}
.process-package1 h3{
    font-family: "Montserrat";
}
.process-package1 p{
    font-family:"Poppins";
    font-size:13px;
}
#process-subbox{
    padding-right:10px;
}
#process-subbox1{
    border-left:2px solid black;
    border-right:2px solid black;
    padding-left:10px;
    padding-right:7px;
}
#process-subbox2{
    padding:10px;
}
.page3-background2 {
    background-image: url("BACKGROUND.png");
    /* position: absolute; */
    overflow:hidden;
    left: 0px;
    top: 2900px;
    /* width: 1920px; */
    width:100%;
    height: 350px;
    z-index: 34;
    display:flex;
    align-content:center;
    justify-content:center;
  }
  .document-lists{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    
  }
  .document-lists img{
      width:110px;
      height:180px;
      padding-left:40px;
      padding-right:40px;

  }
  .Document{
      display:flex;
      padding-top:45px;
  }
  .last-page-background {
    background-image: url("last-background.png");
    /* position: absolute; */
    left: 0px;
    top: 3457px;
    width: 100%;
    height: 550px;
    z-index: 144;
  }
  
  .section2-firstbox{
      display:flex;
      flex-direction:column;
      /* font-weight:100px; */
      gap:40px;
  }
  
    .last-logo {
        background-image: url("Logo2.png");
        /* left: 1270px;
        top: 3773px; */
        width: 137px;
        height: 59px;
        z-index: 176;
      }
      .section2-below{
          display:flex;
          flex-direction:row;
          justify-content:center;
          
          padding-top:27vh;
          gap:100px;
      }
   .last-section{
       display:flex;
       justify-content:center;
       align-items:center;
   }
   .section2-secondbox{
       display:flex;
       flex-direction:column;
       gap:40px;
       padding-left:70px;
       padding-right:30px;
       width:275px;
   }
.first-flex strong{
    color:#CB4CB4;
}
.double-lists{
    display:flex;
    flex-direction:row;
    gap:70px;
    font-size:14px;
}
.section2-thirdbox{
display:flex;
flex-direction:column;
gap:11px;
}
.section2-thirdbox .last-logo{
    margin-top:20px;
}
.second-list{
    font-family: 'Nunito', sans-serif;
    line-height:30px;
    color:grey;
}
.first-flex{
    font-family: 'Oswald', sans-serif;
    /* gap:20px; */
}
.section2-items{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    gap:20px;
}
.thirdbox-items{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    color:grey;
}
.last-sb{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:10px;
}
.last-sb-last{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    /* color:grey; */
}
.text-para{
    padding-top:6px;
    color:grey;
}
.last-line{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family: 'Nunito', sans-serif;
    font-size:10px;
    /* text-align:bottom; */
    padding-top:70px;
    gap:7px;
}
.last-img1{
    width:25px;
    height:25px;
}
.icons-lists{
    display:flex;
    flex-direction:row;
    gap:20px;
}